# Replace with your DB credentials!
DATABASE_URL="libsql://db-name-user.turso.io"
DATABASE_AUTH_TOKEN=""
# A local DB can also be used in dev as well
# DATABASE_URL="file:local.db"
COUCH_URL=http://localhost:5984
COUCH_USER=admin
COUCH_PW=change_me